* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-body {
    font-family: 'Times New Roman', Times, serif, Arial, sans-serif;
    line-height: 1.5rem;
    background-image: url('./background_2.webp');
    background-size: cover;
    background-attachment: fixed;
    direction: rtl;
    color: #f7f8fa;
}

.me {
    font-size: 1.5rem;
    font-weight: 100;
    padding-bottom: 10px;
}

header {
    background-color: #0056b3;
    height: 50px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
  
}

.logo {
    flex: 1;
    text-align: right;
    color: #f7f8fa;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.navigation {
    flex: 2;
    display: flex;
   
    align-items: center;
}

.nav_links_section {
    display: flex;
    width: 60%;
    gap: 10px;
}

.nav_links_section a{
  
    color: #fcfcfd;
    text-decoration: none;
    font-weight:550;
    white-space: nowrap;
    transition: 0.3s;
}
.nav_links_section a:hover{
    color: #000000;
}


.hero_section {
    min-height: 100vh;
    padding: 150px 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid #ddd;
}

.hero-title {
    font-size: 2rem;
    font-weight: 600;
    color: #0056b3;
    margin-bottom: 20px;
}

.hero-profile-img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 5px #0056b3 solid;
    object-fit: cover;
}

.btn {
    display: inline-block;
    padding: 10px 25px;
    color: white;
    background-color: #0056b3;
    text-decoration: none;
    border-radius: 15%;
    font-size: 1.1rem;
    margin-left: 20px;
    margin-top: 30px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #1e3146;
    transform: scale(1.1);
    color: white;
}

.bg_color {
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: 70px;
    padding: 50px 20px;
}

.contact_title {
    background-color: #0056b3;
    color: #f7f8fa;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}
.personal_info{
justify-content: space-around; display: flex;
}
.section_title {
    font-weight: bold;
    color: #0056b3;
    margin-bottom: 15px;
}

.section_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 20px;
    border-bottom: 1px solid #ddd;
}




.project_photo {
    width: 400px;
    max-width: 100%;
    height: auto;

    border: 2px solid white;
}

.pro {
    display: flex;
}

.project_card {
    background-color: #023f81;
    border: 1px solid white;
    min-height: 14rem;
    width: 23rem;

    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project_card:hover {
    transform: scale(0.99);
}

.project_title {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 30px;
}

.card_imag {
    width: 100%;
}

.project_info {
    padding: 25px;
    font-size: 1.05rem;
}

.paragraph {
    max-width: 600px;
}

.main-footer {
    text-align: center;
    padding: 20px;
    background-color: #0056b3;
    color: white;
    margin-top: 30px;
}

 
@media (max-width: 850px) {

    header {
        padding: 0 20px;
        display: flex;
    }

    .nav_links_section {
        width: 40%;
    }

.nav_links_section a{
  


    font-size:0.8rem;
    font-weight:400;
}
 

.personal_info{flex-direction: column;
        text-align: center;

}
.pro{flex-direction: column-reverse;
        text-align: center;}
    .hero_section {
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 100px;
    }

    .hero-profile-img {
        width: 250px;
        height: 250px;
        margin-top: 30px;
        margin-bottom: 30px;
    }


    .profile_photo {
        margin-bottom: 20px;
    }
}